<div class="col-md-12 subscription-schedule-stuff">
	{{#each stops as |stop|}}
		<div class="list-group-item">
			<div class="subscription-stop">
				<div class="subscription-stopname">
					{{stop.stop_name}}
				</div>
				<div class="subscription-stoptime">
					{{stop.stop_time}}
				</div>
			</div>
		</div>
	{{/each}}
</div>